# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# Streamlit
.streamlit/

# Database
*.db

# Raw Datasets
datasets/
data/CREMA-D/
CREMA-D/
AudioWAV/
AudioMP3/
VideoFlash/

# Temporary / Recorded Audio
*.webm
*.tmp
temp/
tmp/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log